# Mix artifacts
/_build
/deps
/*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# bower-installed stuff
/bower_components

# for real products, uncomment this:
# /config/prod.secret.exs

# Since we are building js and css from web/static,
# we ignore priv/static/{css,js}. You may want to
# comment this depending on your deployment strategy.
/priv/static/css
/priv/static/js

# used by brunch/sass
/web/static/css/.sass-cache/

# When I use Komodo IDE
/phoenix-skeleton.komodoproject
