<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Administrationsinterface</title>
        <meta name="description" content="Administrationsinterface" />

        <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <script src="/static/bower_components/jquery/dist/jquery.min.js"          type="text/javascript"></script>
        <script src="/static/bower_components/underscore/underscore-min.js"       type="text/javascript"></script>
        <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

        <style type="text/css">
            nav li.before-dropdown > a { padding-right: 0; }
            nav li.before-dropdown + li.dropdown > a { padding-left: 8px; }
            #all .navbar-default .navbar-nav > .open > a { background-color: #bbb }
        </style>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="all">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/admin">
                            <small>Admin</small> Hello2
                        </a>
                    </div>
                    <%= for item <- Skeleton3.Navigation.as_list do %>
                      <%= if Dict.has_key? item, :ul_start do %>
                        <ul <%= if length( item.classes ) > 0 do %>class="<%= Enum.join item.classes, " " %>"<% end %>>
                      <% end %>
                      <%= if Dict.has_key? item, :ul_stop do %>
                        </ul>
                      <% end %>
                      <%= if Dict.has_key? item, :li_start do %>
                        <li <%= if length( item.classes ) > 0 do %>class="<%= Enum.join item.classes, " " %>"<% end %>>
                      <% end %>
                      <%= if Dict.has_key? item, :li_stop do %>
                        </li>
                      <% end %>
                      <%= if Dict.has_key? item, :anchor do %>
                        <a href="{{ item.href }}"><%= item.text %></a>
                      <% end %>
                      <%= if Dict.has_key? item, :dropdown_toggle do %>
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown"><b class="caret"></b></a>
                      <% end %>
                    <% end %>
                    

                    <%= if :false do # user.id do %>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Konto<b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/auth/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    <% end %>
                </div> <!--/.container-fluid-->
            </nav>

            <div id="content">
              <%= @inner %>
            </div>
        </div>
    </body>
</html>