<div>
  <h1>Welcome to Phoenix-Skeleton!</h1>
  <p class="lead">
    This project tries to integrate a few things for Eleixir/Phoenix.
  </p>
  <ul>
    <li>Session handling (possibly in a memcached-Store)</li>
    <li>Users, Userroles in a database</li>
    <li>Authentication of users</li>
    <li>Admin section [to be done]</li>
  </ul>
  <h2>Where to start?</h2>
  <p>
    Login here: <a href="/auth">/auth</a> (user: admin, pass: admin)
  </p>
</div>
